<a href="https://colab.research.google.com/github/LEOISAIAS/Valores-at-picos/blob/main/ValoresAtipicosDataFrame_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Valores atípicos-Gastos y costos 2020***
## Leonardo Isaías Guevara Pioquinto

In [1]:
#Importamos las librerias pandas, numpy y matplotlib respectivamente
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# **Gastos 2020**

In [ ]:
#Cargar archivo csv desde equipo
from google.colab import files
files.upload()

In [4]:
#Carga desde un archivo .xlsx sin indice
data= pd.read_excel('Gastos y costos 20-23.xlsx', sheet_name='2020')

In [5]:
#Verificamos información del DataFrame
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3342 entries, 0 to 3341
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FECHA        3342 non-null   datetime64[ns]
 1   FOLIO        3153 non-null   object
 2   UUID         3342 non-null   object
 3   RFC          3342 non-null   object
 4   PROVEEDOR    3342 non-null   object
 5   TIPO GASTO   3342 non-null   object
 6   GASTO        840 non-null    object
 7   DESCRIPCION  3342 non-null   object
 8   TC           2951 non-null   float64
 9   IMPORTE      3308 non-null   float64
 10  IVA          3074 non-null   float64
 11  RET ISR      3342 non-null   float64
 12  RET IVA      3342 non-null   float64
 13  TOTAL MX     3342 non-null   float64
 14  TOTAL SAT    3342 non-null   float64
 15  TIPO         3341 non-null   object
 16  STATUS       3342 non-null   object
 17  POLIZA       21 non-null     object
 18  Columna1     3342 non-null   float64
dtypes: datetime64[ns](1), float64(8), object(10)
memory usage: 496.2+ KB

In [6]:
#Corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

FECHA             0
FOLIO           189
UUID              0
RFC               0
PROVEEDOR         0
TIPO GASTO        0
GASTO          2502
DESCRIPCION       0
TC              391
IMPORTE          34
IVA             268
RET ISR           0
RET IVA           0
TOTAL MX          0
TOTAL SAT         0
TIPO              1
STATUS            0
POLIZA         3321
Columna1          0
dtype: int64

# **PROCEDIMIENTO PARA ELIMINAR VALORES NULOS EN DATAFRAME**

In [ ]:
#Reemplazamos valores nulos del dataframe con "bfill"
data1 =data.fillna(method="bfill") 
data1

In [8]:
#Corroboramos valores nulos del dataframe
valores_nulos=data1.isnull().sum()
valores_nulos

FECHA             0
FOLIO             0
UUID              0
RFC               0
PROVEEDOR         0
TIPO GASTO        0
GASTO             0
DESCRIPCION       0
TC                0
IMPORTE           0
IVA               0
RET ISR           0
RET IVA           0
TOTAL MX          0
TOTAL SAT         0
TIPO              0
STATUS            0
POLIZA         2898
Columna1          0
dtype: int64

In [ ]:
#Reemplazamos valores nulos del dataframe con "mean"
#Realizamos una copia del dataframe
data2=data.copy()
data2=data2.fillna(round(data.mean(),1))
data2

In [ ]:
#Corroboramos valores nulos del dataframe
valores_nulos=data2.isnull().sum()
valores_nulos

In [ ]:
#Realizamos diagrama de caja o bigote de cada columna del dataframe
fig = plt.figure(figsize =(15, 8))
data2.plot(kind='box', vert=False)
plt.title("Valores Atípicos del Dataframe")
plt.show() #dibujamos el diagrama

# **PROCEDIMIENTO "DESVIACIÓN ESTÁNDAR" PARA ELIMINAR OUTLIERS EN DATAFRAME**

In [ ]:
#Método aplicando desviación estandar. Encuentro los valores extremos
y=data2
Limite_Superior= y.mean() + 3*y.std()
Limite_Inferior= y.mean() - 3*y.std()
print("Limite superior permitido", Limite_Superior)
print("Limite inferior permitido", Limite_Inferior)

In [ ]:
#Encontramos Ouliers del Dataframe
outliers= data2[(y>Limite_Superior)|(y<Limite_Inferior)]
outliers

In [ ]:
#Obtenemos datos y los outliers se convierten en nulos en el DataFrame
data3= data2[(y<=Limite_Superior)&(y>=Limite_Inferior)]
data3

In [16]:
#Eliminamos columnas innecesarias
data4= data3.drop(['FECHA','FOLIO','UUID','RFC','PROVEEDOR','TIPO GASTO','GASTO','DESCRIPCION','TIPO','STATUS','POLIZA','Columna1'], axis=1)
data4

       TC   IMPORTE      IVA  RET ISR  RET IVA  TOTAL MX  TOTAL SAT
0     1.0      0.00  2248.28      0.0      0.0   2248.28   16300.00
1     1.0    490.00    78.40      0.0      0.0    568.40     568.40
2     1.0    195.00    31.20      0.0      0.0    226.20     226.20
3     1.0  10694.25  1711.08      0.0      0.0  12405.33   12405.33
4     1.0      0.00   519.80      0.0      0.0      0.00       0.00
...   ...       ...      ...      ...      ...       ...        ...
3337  1.0    129.79    20.21      0.0      0.0    150.00     150.00
3338  1.0   2284.80   365.57      0.0      0.0   2650.37    2650.37
3339  1.0    163.79    26.21      0.0      0.0    190.00     190.00
3340  1.0      0.00     0.00      0.0      0.0      0.00       0.00
3341  1.0  14889.29     0.00      0.0      0.0  14889.29   14889.29

[3342 rows x 7 columns]

In [ ]:
#Corroboramos valores nulos del dataframe4
valores_nulos=data4.isnull().sum()
valores_nulos

In [18]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
data_clean=data4.copy()
data_clean=data_clean.fillna(round(data4.mean(),1))
data_clean

       TC   IMPORTE      IVA  RET ISR  RET IVA  TOTAL MX  TOTAL SAT
0     1.0      0.00  2248.28      0.0      0.0   2248.28   16300.00
1     1.0    490.00    78.40      0.0      0.0    568.40     568.40
2     1.0    195.00    31.20      0.0      0.0    226.20     226.20
3     1.0  10694.25  1711.08      0.0      0.0  12405.33   12405.33
4     1.0      0.00   519.80      0.0      0.0      0.00       0.00
...   ...       ...      ...      ...      ...       ...        ...
3337  1.0    129.79    20.21      0.0      0.0    150.00     150.00
3338  1.0   2284.80   365.57      0.0      0.0   2650.37    2650.37
3339  1.0    163.79    26.21      0.0      0.0    190.00     190.00
3340  1.0      0.00     0.00      0.0      0.0      0.00       0.00
3341  1.0  14889.29     0.00      0.0      0.0  14889.29   14889.29

[3342 rows x 7 columns]

In [19]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=data_clean.isnull().sum()
valores_nulos

TC           0
IMPORTE      0
IVA          0
RET ISR      0
RET IVA      0
TOTAL MX     0
TOTAL SAT    0
dtype: int64

In [ ]:

fecha=data2['FECHA']
folio=data2['FOLIO']
UUID=data2['UUID']
RFC=data2['RFC']
prov=data2['PROVEEDOR']
tip=data2['TIPO GASTO']
gasto=data2['GASTO']
descr=data2['DESCRIPCION']
tipo=data2['TIPO']
status=data2['STATUS']
poliza=data2['POLIZA']
col=data2['Columna1']


Datos_limpios1 = pd.concat([fecha,folio,UUID,RFC,prov,tip,gasto,descr,tipo,status,poliza,col, data_clean], axis=1)
Datos_limpios1

In [ ]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=Datos_limpios1.isnull().sum()
valores_nulos

In [22]:
#Convertir DataFrame a CSV
Datos_limpios1.to_csv("Datos_limpios_desvest_2020.csv")
#descargar archivo filtrado en csv
from google.colab import files 
  
  
files.download("Datos_limpios_desvest_2020.csv")

#**PROCEDIMIENTO "CUANTILES" PARA SUSTITUIR OUTLIERS EN DATAFRAME**

In [ ]:
#Método aplicando Cuartiles. Encuentro cuartiles 0.25 y 0.75
y=data4

percentile25=y.quantile(0.25) #Q1
percentile75=y.quantile(0.75) #Q3
iqr= percentile75 - percentile25

Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido", Limite_Superior_iqr)
print("Limite inferior permitido", Limite_Inferior_iqr)

In [ ]:
#Encontramos Outliers del Dataframe
outliers_iqr= data4[(y>Limite_Superior_iqr)|(y<Limite_Inferior_iqr)]
outliers_iqr

In [ ]:
#Obtenemos datos limpios del Dataframe
data3_iqr= data2[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
data3_iqr

In [27]:
#Eliminamos columnas innecesarias
data4_iqr= data3.drop(['FECHA','FOLIO','UUID','RFC','PROVEEDOR','TIPO GASTO','GASTO','DESCRIPCION','TIPO','STATUS','POLIZA','Columna1'], axis=1)
data4_iqr

       TC   IMPORTE      IVA  RET ISR  RET IVA  TOTAL MX  TOTAL SAT
0     1.0      0.00  2248.28      0.0      0.0   2248.28   16300.00
1     1.0    490.00    78.40      0.0      0.0    568.40     568.40
2     1.0    195.00    31.20      0.0      0.0    226.20     226.20
3     1.0  10694.25  1711.08      0.0      0.0  12405.33   12405.33
4     1.0      0.00   519.80      0.0      0.0      0.00       0.00
...   ...       ...      ...      ...      ...       ...        ...
3337  1.0    129.79    20.21      0.0      0.0    150.00     150.00
3338  1.0   2284.80   365.57      0.0      0.0   2650.37    2650.37
3339  1.0    163.79    26.21      0.0      0.0    190.00     190.00
3340  1.0      0.00     0.00      0.0      0.0      0.00       0.00
3341  1.0  14889.29     0.00      0.0      0.0  14889.29   14889.29

[3342 rows x 7 columns]

In [28]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=data4_iqr.isnull().sum()
valores_nulos

TC            9
IMPORTE      67
IVA          58
RET ISR      21
RET IVA      74
TOTAL MX     65
TOTAL SAT    45
dtype: int64

In [29]:
#Reemplazamos valores atípicos (nulos) del dataframe con "mean"
#Realizamos una copia del dataframe
data5_iqr=data4_iqr.copy()
data5_iqr=data5_iqr.fillna(round(data4_iqr.mean(),1))
data5_iqr

       TC   IMPORTE      IVA  RET ISR  RET IVA  TOTAL MX  TOTAL SAT
0     1.0      0.00  2248.28      0.0      0.0   2248.28   16300.00
1     1.0    490.00    78.40      0.0      0.0    568.40     568.40
2     1.0    195.00    31.20      0.0      0.0    226.20     226.20
3     1.0  10694.25  1711.08      0.0      0.0  12405.33   12405.33
4     1.0      0.00   519.80      0.0      0.0      0.00       0.00
...   ...       ...      ...      ...      ...       ...        ...
3337  1.0    129.79    20.21      0.0      0.0    150.00     150.00
3338  1.0   2284.80   365.57      0.0      0.0   2650.37    2650.37
3339  1.0    163.79    26.21      0.0      0.0    190.00     190.00
3340  1.0      0.00     0.00      0.0      0.0      0.00       0.00
3341  1.0  14889.29     0.00      0.0      0.0  14889.29   14889.29

[3342 rows x 7 columns]

In [ ]:
# Unimos la columnas cualitativas con el dataframe

fecha=data2['FECHA']
folio=data2['FOLIO']
UUID=data2['UUID']
RFC=data2['RFC']
prov=data2['PROVEEDOR']
tip=data2['TIPO GASTO']
gasto=data2['GASTO']
descr=data2['DESCRIPCION']
tipo=data2['TIPO']
status=data2['STATUS']
poliza=data2['POLIZA']
col=data2['Columna1']


Datos_limpios2 = pd.concat([fecha,folio,UUID,RFC,prov,tip,gasto,descr,tipo,status,poliza,col, data_clean], axis=1)
Datos_limpios2

In [31]:
#Corroboramos valores nulos del dataframe LIMPIO
valores_nulos=Datos_limpios2.isnull().sum()
valores_nulos

FECHA             0
FOLIO           189
UUID              0
RFC               0
PROVEEDOR         0
TIPO GASTO        0
GASTO          2502
DESCRIPCION       0
TIPO              1
STATUS            0
POLIZA         3321
Columna1          0
TC                0
IMPORTE           0
IVA               0
RET ISR           0
RET IVA           0
TOTAL MX          0
TOTAL SAT         0
dtype: int64

In [32]:
#Convertir DataFrame a CSV
Datos_limpios2.to_csv("Datos_limpios_iqr_2020.csv")

In [33]:
#descargar archivo filtrado en csv
from google.colab import files 
  
  
files.download("Datos_limpios_iqr_2020.csv")